body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


.card {
    border: none;
}


img {
    width: 250px;
}

.bg-verde {
    background: #7ba238;
}

.circulo {
    height: 25px;
    width: 25px;
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-color: black;
}